<li>
    {{burger_name}}

    <button class="change-status" data-id="{{id}}" data-newstatus="{{eaten}}">
        {{#if eaten}}EAT THIS{{else}}MAKE ANOTHER{{/if}}
    </button>

    <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>